---
title: 公告
layout: default
---

{% include header.html %}

<style >
        main{
            color:blue;
            text-align: center;

        }
        main strong{
            font-size: 52px;
            color: #ff0000;
        }
        </style>

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>公告</h2>
</div>


<main class="tags-content">
</br>
</br>    
</br>
</br>
</br>
</br>
</br>
</br>
</br>


    <h2>AndroidApp下载</h2>
    <a href="/update">点此进入下载页</a>
    <h2>站点说明</h2>
    
    嗯，建立这个皮肤分享站是我考虑很久的事情了...

    本站皮肤云存储服务首选<a href="https://pan.lanzous.com" >蓝奏云</a>，次选<a href="http://own-cloud.cn" >小麦云</a>，最后选<a href="https://pan.baidu.com" >度盘</a>
    
    图片服务首选<a href="https://sm.ms" >sm.ms</a>和<a href="imgchr.com">路过图床</a>，次选<a href="https://www.imgur.com/" >imgur</a>，最后选<a href=https://postimg.cc>postimage</a>。

</br> 

    <h2>投稿方式</h2>

    请将皮肤文件、作者及截图文件发送至<a href="mailto:upload@soloopooo.tk">upload@soloopooo.tk</a>。

</br>

    <h2>打赏站长</h2>

    微信扫描下面的二维码进行打赏，感谢各位的打赏，让站长有动力继续收集下去。

    <div id="medium">
    <img width="100%" height="100%" src="/assets/img/mm_reward_qrcode_1555752085209.png">
    </div>
</br>

    <h2>感谢名单&友情链接</h2>
    <strong>kcwt&Voicehe</strong></br>
            <strong>感谢@妈船(Mother_Ship)提供的osuskin.cn域名!</strong>
     
</main>
    
{% include footer.html %}
