<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <!--[if lt IE 10]>
<div class="alert-danger" role="alert">你的浏览器实在太太太旧了，放学别走，升级完浏览器再说！<a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->
    <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
    <div class="visible">
      {{ content }}
    </div>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/js/index.min.js"></script>
    <section><audio src="https://m801.music.126.net/20190405124106/2c2cc856cc69f41de0a982ceab6a1467/jdyyaac/060e/0f0e/0453/1d47fb4c218de16dfbbf39262df507f8.m4a" autoplay="autoplay" loop="-1" hidden="true"></audio>
</body>
</html>
